@import url("color_themes.css");
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: url('font/DigitalNumbers-Regular.woff'), format('woff');
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

                                                

/*================================================

Štýly pre horné menu

=================================================== */

.mainMenu {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--content_color);
    border-bottom: 1px solid var(--border_color);
}

.documentHolder {
    display: flex;
    align-items: center;
}

.appTitle {
    padding: 10px 0px;
    margin: 10px;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    color: var(--text_color);

}

.appTitle:hover {
    color: #606368 !important;
    transition: 0.2s;
    
}

.dash {
    margin-left: 10px;
    color: var(--text_color);
}

.appLogo {
    display: flex;
    padding: 10px;
    font-family: 'Electrolize', sans-serif;
    align-items: center;

}

.appImg {
    width: 95px;
    height: 50px;
}

.rightMenuItems li {
    display: inline-block;
    
}

.rightMenuItems li {
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
}

.link {
    color: var(--text_color);
    text-decoration: none;
}

.mainLink {
    color: var(--text_color);
}

.mainLink:hover {
    color: #606368 !important;
    transition: 0.2s;
}

.link:hover {
    color: #606368 !important;
    transition: 0.2s;
}



/*================================================

Štýly pre hlavné menu aplikácie - toolbar

=================================================== */


.appToolbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--content_color);
    border-bottom: 1px solid var(--border_color);
    user-select: none;
}

.appToolbarItems li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    align-items: center;
    cursor: pointer;
    color: var(--icon_color);
    font-family: 'Electrolize', sans-serif;
}

.appToolbarItems li:hover {
    color: #606368 !important;
    transition: 0.2s;
    
}



/*================================================

Štýly pre ikony

=================================================== */

.fa-solid {
    cursor: pointer;
    font-size: 21px;
}

.toolIcon {
    padding: 5px;
    margin: 5px;
}

.tool:hover {
    color: #606368;
    cursor: pointer;
}

.fa-square{
    font-size: 21px;
}


/*================================================

Štýly pre scrollbar

=================================================== */

::-webkit-scrollbar {
    width: 9px;
}
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar_track-color); 
   
    border-left: 1px solid var(--border_color);
}
   
  
::-webkit-scrollbar-thumb {
    background: var(--scrollbar_thumb-color); 
    border: 1px solid var(--border_color);
    border-top: none;
    border-bottom: none;
}
  
 
::-webkit-scrollbar-thumb:hover {
    background: rgba(197, 175, 175, 0.562); 
}


/*================================================

Štýly pre editor menu

=================================================== */

.editorToolbar {
    position: absolute;
    bottom: 0;
    width: 85%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--content_color);
    border-top: 1px solid var(--border_color);
    font-family: 'Electrolize', sans-serif;

}

.editorItems li {
    display: inline-block;
    cursor: pointer;
    color: var(--icon_color);
    margin-right: 15px;
}

.editorItems li:hover {
    color: #606368 !important;
    transition: 0.2s;
    
}


.actionWrapper {
    display: flex;
    position: relative;
    margin-right: 15px;
    list-style: none;
    color: var(--text_color);
}


.toolButton {
    margin-left: 10px;
    color: var(--text_color);
    border: 1px solid var(--border_color);
}


/*================================================

Štýly pre menu komponentov

=================================================== */


.componentsContainer {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    height: calc(100vh - 115px);
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--content_color);
    color: var(--text_color);
    border-left: 1px solid var(--border_color);
    float: right;  /*right alebo left*/
    
}

.components {
    display: flex;
    flex-direction: column;
    opacity: 1;
    max-height: 1000px;
    visibility: visible;
    transition: opacity 0.5s ease-in, max-height 1s ease-in-out, visibility  1s;
}

.components.hidden {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition-delay: 0s;
}

.component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    list-style: none;
    padding: 17px;
    
    border-bottom: 1px solid var(--border_color);
    color: var(--text_color);
    background-color: var(--component_option_color);
    user-select: none;
    
}


.editorTool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    list-style: none;
    padding: 17px;
    border-bottom: 1px solid var(--border_color);
    color: var(--text_color);
    background-color: var(--component_option_color);
    user-select: none;
}

.editorTool:hover {
    background-color: var(--component_hover_color);
}


.component:hover {
    transition: 150ms;
    background-color: var(--component_hover_color);
}

.componentImage {
    -webkit-user-drag: none;
}

.componentsTitle {
    /*
    display: inline-flex;
    width: 80%;
    */
    padding: 10px;
    color: var(--text_color);
    background-color: var(--component_type_color);
    user-select: none;
    font-weight: bold;
    border-bottom: 1px solid var(--border_color);
}

.componentsTitle:hover {
    padding: 14px;
    transition: 0.2s;
}

@keyframes componentAnimation {
    0% {
        background-color: transparent;
        transform: scale(1);
    }
    50% {
        background-color: var(--component_hover_color);
        transform: scale(1.1);
    }
    100% {
        background-color: var(--component_hover_color);
        transform: scale(1);
    }
}

.selectedComponent {
    animation: componentAnimation 500ms ease-in-out forwards;
}





/*================================================

Menšie obrazovky

=================================================== */


@media screen and (max-width: 1400px) {
    .componentImage {
        display: none;
    }

    .componentsTitle {
        justify-content: center;
        font-size: 14px;
    }
}
