@import url("color_themes.css");

/*================================================

Štýly pre menu komponentov

=================================================== */


.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Electrolize', sans-serif;
    user-select: none;
    overflow: hidden;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    
    to {
        opacity: 1;
    }

    
}



.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate(-50%, -50%);
    background-color: var(--content_color);
    border: 1px solid var(--border_color);
    cursor: grab;
}

.grabActive {
    cursor: grabbing;
}




.topModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border_color);
    color: var(--text_color);
    background-color: var(--header_color);
}

.topModal p {
    font-size: 18px;
    padding: 5px;
}


.closeButton {
    cursor: pointer;
    padding: 10px;
}

.closeButton:hover {
    transition: 0.2s;
    background-color: #C82333;
    color: white;
}

/*
.componentRightArea {
    position: relative;
    margin-left: 50%;
    height: 150px;
}

.componentDescription {
    position: absolute;
    left: 10px;
    top: 10px;
}


.componentsMenu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.componentsMenu ul li {
    width: 25%;
    cursor: pointer;
    padding: 5px;
    list-style: none;
}


.componentsMenu ul li:hover {
    background-color: #dbdcdce4;
}

.componentActive {
    background-color: #dbdcdce4;
}
*/

/*================================================

Štýly pre vyskakovacie okno názvu projektu

=================================================== */

.titleInput {
    position: absolute;
    background-color: var(--content_color);
    left: 75px;
    top: 75px;
    font-size: 14px;
    width: 300px;
    height: 35px;
    font-family: 'Electrolize', sans-serif;
    color: var(--text_color);
    border: var(--border_color) 1px solid;
    text-align: center;
}

.titleInput:focus {
    background-color: rgba(129, 129, 129, 0.452);
}

/*================================================

Štýly pre vyskakovacie okno možností a nastavení

=================================================== */
.optionsContainer {
    display: flex;
    flex-direction: column;
    color: var(--text_color);

}

.optionsContainer p{
    font-weight: bold;
    font-size: 13px;
    margin: 30px;
    margin-right: 100px;
    width: 160px;
}

.options {
    display: flex;
    width: 100%;
    
}

.selectOption {
    height: 20px;
    margin: 20px;
    width: 100px;

}

/*================================================

Štýly pre toggle switch

=================================================== */
.switch {
    position: relative;
    width: 55px;
    height: 32px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid var(--border_color);
}


.switchBox {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    background-color: var(--content_color);
}

.slider:before{
    position: absolute;
    content: "";
    left: 4px;
    bottom: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #ffffffcc;
    transition: 0.4s;

}

.switchBox:checked + .slider {
    background-color: #237C3B;
}

.switchBox:checked + .slider:before {
    transform: translateX(19px);
}

.slider.circle {
    border-radius: 34px;
}

.slider.circle:before {
    border-radius: 50%;
}

/*================================================

Štýly pre vyskakovacie okno vytvorenia nového čistého projektu

=================================================== */

.saveText {
    position: absolute;
    margin: 10px;
    color: var(--text_color);
}

.saveButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.cancelSaveButton {
    position: absolute;
    bottom: 0;
    right: 100px;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.button {
    font-family: 'Electrolize', sans-serif;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s;
}


.button:hover {
    outline: 2px solid var(--border_color);
    color: var(--content_color);
    background-color: var(--button_hover_color);
}

/*================================================

Štýly pre - Welcome Modal

=================================================== */

#counter {
    position: absolute;
    display: inline-flex;
    color: var(--text_color);
    right: 15px;
    top: 60px;
}

.dontShow {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.showLabel{
    color: var(--text_color);
    position: absolute;
    left: 85px;
    bottom: 25px;
}


.previousButton {
    position: absolute;
    bottom: 0;
    right: 115px;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.nextButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.finishButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.startButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.skipButton {
    position: absolute;
    bottom: 0;
    right: 150px;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.tutorialContent {
    position: absolute;
    padding: 20px;
    color: var(--text_color);
    text-align: justify;
    font-size: 15px;
    width: 95%;

}

.tutorialGif {
    position: absolute;
    top: 85%;
    left: 10%;
    pointer-events: none;
}

.tutorialContent h3 {
    margin-top: 10px ;
}

.tutorialContent p {
    margin-top: 20px;
}

/*================================================

Štýly pre - Edit Boxy

=================================================== */

.channelOption {
    position: absolute;
    top: 60px;
    left: 10px
}

.channelOption input {
    width: 60px;
    height: 20px;
}

.componentEditBox {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
}

.componentEditBox div {
    display: flex;
    flex-direction: column;
}

.componentEditBox input,
.componentEditBox p {
    margin-bottom: 20px; 
}

.componentEditBox input {
    width: 30%;
    padding: 6px 10px;
    margin: 5px 0;
    margin-left: 5px;
    border: 2px solid #ffffff;
}

.componentEditBox label {
    margin-left: 5px;
}

.textareaInputsContainer {
    position: absolute;
    right: 120px;
    top: 54px;
}

.textareaOutputsContainer {
    position: absolute;
    right: 5px;
    top: 54px;
}

.removeLabel {
    width: 50%;
    border: 2px solid var(--border_color);
    color: var(--text_color);
}


#labelEditBox label{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#labelEditBox input{
    width: 50%;
}

textarea {
    resize: none;
}

input[type="text"]:focus {
    outline: none;
    border-color: #b4bdc7;
    box-shadow: 0 0 5px #b4bdc7;
}

input[type="color"] {
    width: 100px; 
    height: 30px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 1px;
}

.componentEditBox p {
    margin: 0;
    margin-left: 2px;
}



.applyButton {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}

.okButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}



/*================================================

Štýly pre - Circuits Modal

=================================================== */

.circuitsContainer {
    color: var(--text_color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sampleCircuits {
    cursor: pointer;
    width: 260px;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    padding: 30px;
    outline: 1px solid var(--border_color);
    outline-offset: -15px;
}


.sampleCircuits:hover {
    transform: translateY(-2px);
}


.sampleCircuits p {
    text-align: center;
    margin-top: 10px;
}


.circuitsNav {
    display: inline-flex;
    margin-left: 10px;
    color: var(--text_color);
}


.previousButtonCircuits {
    width: 100px;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}


.nextButtonCircuits {
    width: 100px;
    border: 1px solid var(--border_color);
    color: var(--text_color);
}


/*================================================

Štýly pre - About Modal

=================================================== */


.aboutContainer {
    color: var(--text_color);
    padding: 10px;
}

.aboutContainer p {
    margin-top: 20px;
}

.aboutProject {
    margin-top: 20px;
}

.author {
    margin-top: 10px;
}

.projectName {
    margin-top: 10px;
}

.mainFunctions {
    margin-top: 15px;
}


/*================================================

Štýly pre - Documentation Modal

=================================================== */


.documentationContainer {
    display: flex;
    color: var(--text_color);
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*================================================

Štýly pre - alert

=================================================== */


.alert {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #f44336;
    color: var(--text_color);
    margin-top: 10px;
    left: 30%;
    font-family: 'Electrolize', sans-serif;
    width: 600px;
    font-size: 15px;
    border: 1px solid var(--border_color);
    user-select: none;
}

#alertText {
    margin-left: 10px;
}

  
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #db8b12;}
  
.closebtn {
    margin-left: 15px;
    color: var(--icon_color);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
}

.alertOpen {
    animation: alertOpenAnimation 2.6s;
}

.alertClose {
    animation: alertCloseAnimation 2.6s;
}

@keyframes alertOpenAnimation {

    
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@keyframes alertCloseAnimation {
    from {
        display: block;
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

